/legacy/original_baseline_20251012/max_von_mises_stress.csv
/legacy/original_baseline_20251012/max_von_mises_stress.dat
/legacy/original_baseline_20251012/time_of_max_von_mises_stress.csv
/legacy/original_baseline_20251012/time_of_max_von_mises_stress.dat
/.idea/
/dist/
/build/
/venv_old/
/venv/
/build_venv/
/src/ui/handlers/*.dat
